
.react-datepicker__input-container input {
  display: block;
  width: 100%;
  height: 50px;
  border-radius: 2px;
  margin-top: 40px;
  border: solid 1px #00a0f0;
  background-color: #ffffff;
  color: #00a0f0;
  padding-left: 160px;


}

.react-datepicker__input-container ::-webkit-input-placeholder{
    color: #00a0f0;
}

@media  screen and (max-width:480px) and (min-width:351px) {
  .react-datepicker__input-container input {
    padding-left: 25vw;

  }

  
}
@media screen and (max-width:350px) {
  .react-datepicker__input-container input {
    padding-left: 25vw;
    width: 94%;
    margin-left: 3vw;
    padding-left: 19vw;

  }
  
}

  